[submodule "libmpdclient"]
	path = libmpdclient
	url = git@github.com:MusicPlayerDaemon/libmpdclient.git
[submodule "Packages/MediaKeyTap"]
	path = Packages/MediaKeyTap
	url = git@github.com:danbee/MediaKeyTap.git
